<!DOCTYPE html>
{% load static %}
<!-- Website - www.codingnepalweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Bookitt</title>
    <link rel="stylesheet" href="{% static 'assets/css/register.css' %}" />
    <style>.front{
      display: flex;
      margin-left: 100px;
      margin-top: 100px;
      position: absolute;
      font: 25px bold;
      animation: coolor 5s ease-in-out 0.5s infinite;
    }
    
    @keyframes coolor {
      0% {
        color: yellow;
      }
      50%{
        color: orange;
      }
      100% {
        color: pink;
      }
    }</style>
  </head>
  <body>
    <div  class="front">
      Sign up to Your Literary Haven
    </div>
    <div style="font-family: 'Dancing Script', cursive;
    font-size: 48px;
    color: white; margin: 100px 190px; position: relative;">Bookitt</div>

    <div class="center">
      <h1>Register</h1>
      <form method="post">
        {% csrf_token %}

        <div class="txt_field">
          <input type="text" name="username" required />
          <span></span>
          <label>Username</label>
        </div>

        <div class="txt_field">
          <input type="text" name="first_name" required />
          <span></span>
          <label>First Name</label>
        </div>

        <div class="txt_field">
          <input type="text" name="last_name" required />
          <span></span>
          <label>Last Name</label>
        </div>

        <div class="txt_field">
          <input type="email" name="email" required />
          <span></span>
          <label>email</label>
        </div>

        <div class="txt_field">
          <input type="password" name="password" required />
          <span></span>
          <label>Password</label>
        </div>

        <div class="txt_field">
          <input type="password" name="password1" required />
          <span></span>
          <label>Confirm Password</label>
        </div>

        <div style="color: red;">
        {% for msg in messages %}
        {{ msg }}
        {% endfor %}
        </div>
        <input type="submit" value="Register" />
        <div class="signup_link">Already have an account <a href="{% url 'login' %}">Login</a></div>

      </form>
    </div>
  </body>
</html>
